<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Configuration issu du TP5-->
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- Configuration de la connexion à la base de données -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/AcademicAppDB</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">cytech000!</property>

        <!-- Dialecte Hibernate -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Afficher les requêtes SQL dans la console -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Mode de mise à jour du schéma de la base de données -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Scannez les annotations dans les classes d'entité -->
        <mapping class="com.jeeproject.model.Student"/>

        <!-- Ajoutez d'autres mappings si nécessaire -->
    </session-factory>
</hibernate-configuration>
